//
// nanoScrollerJS (Sass)
// --------------------------------------------------
/** initial setup **/
$nanoClass: "nano" !default;
$paneClass: "nano-pane" !default;
$sliderClass: "nano-slider" !default;
$contentClass: "nano-content" !default;

.#{$nanoClass} {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    .#{$contentClass} {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: scroll;
        overflow-x: hidden;

        &:focus {
            outline: thin dotted;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    > .#{$paneClass} {
        width: 0;
        background: #cccccc;
        position: absolute;
        top: 0;
        right: 6px;
        bottom: 0;
        -webkit-transition: .2s;
           -moz-transition: .2s;
             -o-transition: .2s;
                transition: .2s;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        visibility: hidden\9; // Target only IE7 and IE8 with this hack
        opacity: 1;

        > .#{$sliderClass} {
            background: #444;
            background: #ffba00;
            position: relative;
            margin: 0 1px;
            width: 13px;
            right: 8px;
        }
    }
}

.has-scrollbar > .#{$contentClass}::-webkit-scrollbar {
    display: block;
}

.#{$paneClass} {
    .#{$nanoClass}:hover > &,
    &.active,
    &.flashed {
        visibility: visible\9; // Target only IE7 and IE8 with this hack
        opacity: 0.99;
    }
}
