@keyframes imageSlide {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

@keyframes videoSlideUp {
  from {
    visibility: hidden;
    height: 0;
  }

  to {
    visibility: visible;
    height: 48%;
  }
}