.read-more-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  line-height: 40px;
  position: relative;
  padding: 10px rem(60) 10px rem(30);
  font-size: 12px;
  line-height: 100%;
  font-weight: 600;
  text-align: left;
  color: $dark-green;
  text-transform: uppercase;
  background-color: $yellow;
  border-radius: 12px;
  transition: $transition;

  &:hover {
    color: $white;
    background-color: $orange;
    text-decoration: none;
  }

  &::after {
    content: '\0047';
    position: absolute;
    top: 50%;
    right: -1px;
    font-family: icons;
    font-size: 8px;
    padding: 14px 0;
    width: 30px;
    text-align: center;
    display: inline-block;
    background-color: #194213;
    color: #fff;
    transform: translateY(-50%);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}

@include media-breakpoint-down(xs){
  .read-more-button {
    font-size: 10px;
    border-radius: 10px;
    &::after {
      padding: 16px 0;
    }
  }
}

