.section-heading {
  font-size: rem(60);
  letter-spacing: -0.075em;
  text-transform: uppercase;
  font-weight: 700;

  .white {
    color: #fff;
  }
  .green {
    color: $dark-green;
  }
  .light-blue {
    color: $light-blue;
  }

  .section-number {
    font-size: rem(16);
    font-weight: 300;
    letter-spacing: -0.025em;
    margin-left: rem(-36);

    .about-number, .about-number::after, .system-number, .system-number::after, .resources-number, .resources-number::after {
      color: $medium-green;
    }

    .product-number, .product-number::after {
      color: $medium-grey;
    }

    .walls-number, .walls-number::after, .render-textures-number, .render-textures-number::after, .informations-number::after, .company-news-number, .company-news-number::after {
      color: #8a8a8a;
    }

    .about-number::after, .system-number::after, .product-number::after, .walls-number::after, .render-textures-number::after, .informations-number::after, .resources-number::after, .company-news-number::after {
      content: "";
      border-right-width: 1px;
      border-right-style: solid;
      display: inline-block;
      padding-left: 5px;
      opacity: 0.8;
    }

    .about-number::after, .system-number::after, .resources-number::after {
      height: 100px;
    }
    
    .product-number::after, .walls-number::after, .render-textures-number::after, .informations-number::after, .company-news-number::after {
      height: 120px;
    }
  }
}

.small-heading {
  font-size: rem(36);
  font-weight: bold;
  line-height: rem(48);
  letter-spacing: -0.025em;

  .white {
    color: #fff;
  }
}

.resources-subheading {
  font-size: rem(20);
  font-family: 'FuturaBt';
  font-weight: bold;
  line-height: rem(42);
  letter-spacing: -0.025em;
  color: #000;
  display: inline-block;
  border-bottom: 1px solid #b1b1b1;
}

@include media-breakpoint-down(lg) {
  .section-heading {
    .section-number {
      .about-number::after, .system-number::after, .resources-number::after, .product-number::after, .walls-number::after, .render-textures-number::after, .informations-number::after {
        height: 70px;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .section-heading {
    .section-number {
      .resources-number::after {
        height: 50px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .section-heading {
    font-size: rem(42);
  }
}

@include media-breakpoint-down(xs) {
  .section-heading {
    font-size: rem(36);
    .section-number {
      margin-left: 0;
    
      .about-number, .system-number, .resources-number, .product-number, .walls-number, .render-textures-number, .informations-number {
        display: none;
      }
    }
  }
}