@media all and (max-width: 1300px) {
  body, html{
    font-size: 90%;
    line-height: 90%;
  }
}

@include media-breakpoint-down(lg) {
  body, html{
    font-size: 85%;
    line-height: 85%;
  }
}

@include media-breakpoint-down(sm) {
  p, li {
    font-size: 14px;
    //line-height: 110%;
  }
}