.mm-hidden {
  display: none !important;
}

.mm-wrapper {
  overflow-x: hidden;
  position: relative;
}

#menu{
  height: 0;
  overflow: hidden;
}
#menu.mm-menu{
  height: auto;
  overflow: auto;
}
.mm-menu {
  box-sizing: border-box;
  background: inherit;
  display: block;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  a,span {
    color: inherit;
    text-decoration: none;
    font-size: 17px;
    &:active, &:hover, &:link, &:visited {
      color: inherit;
      text-decoration: none;
    }
  }
}

.mm-panels {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  > .mm-panel {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
  }
}

.mm-panel {
  background: inherit;
  border-color: inherit;
  box-sizing: border-box;
  margin: 0;
}

.mm-panels {
  background: inherit;
  border-color: inherit;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
}

.mm-panel {
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 20px;
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease,-webkit-transform .4s ease;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  &:not(.mm-hidden) {
    display: block;
  }
  &:after, &:before {
    content: '';
    display: block;
    height: 20px;
  }
}

.mm-panel_has-navbar {
  padding-top: 40px;
}

.mm-panel_opened {
  z-index: 1;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.mm-panel_opened-parent {
  -webkit-transform: translate(-30%, 0);
  -ms-transform: translate(-30%, 0);
  transform: translate(-30%, 0);
  -webkit-transform: translate3d(-30%, 0, 0);
  transform: translate3d(-30%, 0, 0);
}

.mm-panel_highest {
  z-index: 2;
}

.mm-panel_noanimation {
  transition: none !important;
  &.mm-panel_opened-parent {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.mm-listitem_vertical > .mm-panel {
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  display: none;
  padding: 10px 0 10px 10px;
  &:after, &:before {
    content: none;
    display: none;
  }
}

.mm-listitem_opened > .mm-panel {
  display: block;
}

.mm-listitem_vertical {
  > .mm-btn_next {
    box-sizing: border-box;
    height: 70px;
    bottom: auto;
  }
  .mm-listitem:last-child:after {
    border-color: transparent;
  }
}

.mm-listitem_opened > .mm-btn_next:after {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  right: 19px;
}

.mm-btn {
  box-sizing: border-box;
  width: 40px;
  height: 60px;
  position: absolute;
  top: 0;
  z-index: 1;
}

.mm-btn_fullwidth {
  width: 100%;
}

.mm-btn_clear {
  &:after, &:before {
    content: '';
    border: 2px solid transparent;
    box-sizing: content-box;
    display: block;
    width: 5px;
    height: 5px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.mm-btn_close {
  &:after, &:before {
    content: '';
    border: 2px solid transparent;
    box-sizing: content-box;
    display: block;
    width: 5px;
    height: 5px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.mm-btn_clear:before, .mm-btn_close:before {
  border-right: none;
  border-bottom: none;
  right: 18px;
}

.mm-btn_clear:after, .mm-btn_close:after {
  border-left: none;
  border-top: none;
  right: 25px;
}

.mm-btn_next:after {
  content: '';
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  box-sizing: content-box;
  display: block;
  width: 8px;
  height: 8px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
}

.mm-btn_prev:before {
  content: '';
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  box-sizing: content-box;
  display: block;
  width: 8px;
  height: 8px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 23px;
  right: auto;
}

.mm-btn_next:after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  right: 23px;
  left: auto;
}

.mm-navbar {
  border-bottom: 1px solid;
  border-color: inherit;
  text-align: center;
  line-height: 20px;
  display: none;
  height: 60px;
  padding: 0 40px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transition: opacity .4s ease;
  > * {
    box-sizing: border-box;
    display: block;
    padding: 10px 0;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

.mm-navbar .mm-navbar__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px !important;
  font-weight: 700;
  color: $green !important;
  padding-top: 20px;
  padding-bottom:20px;
  text-transform: uppercase;
}

.mm-navbar__btn {
  &:first-child {
    left: 0;
  }
  &:last-child {
    text-align: right;
    right: 0;
  }
}

.mm-panel_has-navbar .mm-navbar {
  display: block;
}

.mm-listitem, .mm-listview {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}

.mm-listitem {
  border-color: inherit;
  .mm-btn_next {
    border-color: inherit;
    &:before {
      border-color: inherit;
    }
  }
  &:after {
    border-color: inherit;
  }
}

.mm-listview {
  border-color: inherit;
  font: inherit;
  line-height: 30px;
}

.mm-panels > .mm-panel > {
  .mm-listview {
    margin: 0px -20px;
    &:first-child {
      margin-top: -20px;
    }
  }
  .mm-navbar + .mm-listview {
    margin-top: 0px;
  }
}

.mm-listitem {
  position: relative;
  &:after {
    content: '';
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    left: 0px;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  > {
    a, span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: inherit;
      display: block;
      padding: 10px 10px 10px 20px;
      margin: 0;
    }
  }
  .mm-btn_next {
    background: rgba(3, 2, 1, 0);
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    &:before {
      content: '';
      border-left-width: 1px;
      border-left-style: solid;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
    }
    &:not(.mm-btn_fullwidth) {
      width: 50px;
      + {
        a, span {
          margin-right: 50px;
        }
      }
    }
  }
  .mm-btn_fullwidth {
    &:before {
      border-left: none;
    }
    + {
      a, span {
        padding-right: 50px;
      }
    }
  }
}

.mm-listitem_divider {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 75%;
  text-transform: uppercase;
  padding: 5px 10px 5px 20px;
  &:after {
    content: ' ';
    display: none;
    position: static;
    display: inline-block;
  }
}

.mm-listitem_spacer {
  padding-top: 40px;
  > .mm-btn_next {
    top: 40px;
  }
}

.mm-menu {
  background: #fff;
  border-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  .mm-navbar {
    a, > * {
      color: rgba(0, 0, 0, 0.3);
    }
  }
  .mm-btn {
    &:after, &:before {
      border-color:$green;
    }
  }
  .mm-listview {
    .mm-btn_next:after {
      border-color: $green;
    }
    a:not(.mm-btn_next) {
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0.4);
      tap-highlight-color: rgba(255, 255, 255, 0.4);
    }
  }
  .mm-listitem_selected > {
    a:not(.mm-btn_next), span {
      background: rgba(255, 255, 255, 0.4);
    }
  }
  .mm-listitem_opened > {
    .mm-btn_next, .mm-panel {
      background: rgba(0, 0, 0, 0.05);
    }
  }
  .mm-listitem_divider {
    background: rgba(0, 0, 0, 0.05);
  }
}

.mm-page {
  box-sizing: border-box;
  position: relative;
}

.mm-slideout {
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease,-webkit-transform .4s ease;
  z-index: 1;
}

.mm-wrapper_opened {
  overflow-x: hidden;
  position: relative;
}

.mm-wrapper_background .mm-page {
  background: inherit;
}

.mm-menu_offcanvas {
  display: none;
  position: fixed;
  right: auto;
  z-index: 0;
  &.mm-menu_opened {
    display: block;
    &.mm-no-csstransforms {
      z-index: 10;
    }
  }
  width: 80%;
  min-width: 140px;
  max-width: 440px;
}

.mm-wrapper_opening .mm-menu_offcanvas.mm-menu_opened ~ .mm-slideout {
  -webkit-transform: translate(80vw, 0);
  -ms-transform: translate(80vw, 0);
  transform: translate(80vw, 0);
  -webkit-transform: translate3d(80vw, 0, 0);
  transform: translate3d(80vw, 0, 0);
}

@media all and (max-width: 175px) {
  .mm-wrapper_opening .mm-menu_offcanvas.mm-menu_opened ~ .mm-slideout {
    -webkit-transform: translate(140px, 0);
    -ms-transform: translate(140px, 0);
    transform: translate(140px, 0);
    -webkit-transform: translate3d(140px, 0, 0);
    transform: translate3d(140px, 0, 0);
  }
}

@media all and (min-width: 550px) {
  .mm-wrapper_opening .mm-menu_offcanvas.mm-menu_opened ~ .mm-slideout {
    -webkit-transform: translate(440px, 0);
    -ms-transform: translate(440px, 0);
    transform: translate(440px, 0);
    -webkit-transform: translate3d(440px, 0, 0);
    transform: translate3d(440px, 0, 0);
  }
}

.mm-page__blocker {
  background: rgba(3, 2, 1, 0);
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.mm-wrapper_blocking {
  overflow: hidden;
  body {
    overflow: hidden;
  }
  .mm-page__blocker {
    display: block;
  }
}

.mm-sronly {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
  width: 1px !important;
  min-width: 1px !important;
  height: 1px !important;
  min-height: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
}