$color_1: rgba(0,0,0,0.4);
$color_2: rgba(0,0,0,0.2);
$color_3: #fff;
$color_4: rgba(0,0,0,0.3);
$color_5: transparent;
$font_family_1: 'icons';


/* overlays for pusher and for level that gets covered */
/* overlap */
/* First level */
/* cover */
/* content style */
/* seems like Chrome 34.0.1847.131 needs the second shadow otherwise the transition breaks */
/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
/* We'll show the first level only */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	&::before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}


body.mp-pushed{

}

.mp-container {
	height: 100%;
	position: relative;
	overflow: hidden;
	background: #34495e;
}
.scroller {
	height: 100vh;
	overflow-y: scroll;
	position: relative;
}
.scroller-inner {
	position: relative;
}

.mp-pusher {
	position: relative;
	left: 0;
	height: 100%;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	&::after {
		position: absolute;
		top: 0;
		right: 0;
		width: 0;
		height: 0;
		content: '';
		opacity: 0;
		background: rgba(0,0,0,0.5);
		-webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
		-moz-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
		transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
		z-index:999999999999;
	}
}
.mp-menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 300px;
	height: 100%;
	-webkit-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	.menu-item{
		text-align: left;
	}
	>.mp-level {
		box-shadow: none;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	>.mp-level.mp-level-open {
		box-shadow: none;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			>a {
				font-size: 16px;
				line-height: 24px;
				color: #000;
				font-weight: 400;
				display: block;
				padding: 12px 25px 12px 25px;
				outline: none;
				box-shadow: inset 0 -1px rgba(0,0,0,0.2);
				text-shadow: 0 0 1px rgba(255,255,255,0.1);
				-webkit-transition: background 0.3s, box-shadow 0.3s;
				-moz-transition: background 0.3s, box-shadow 0.3s;
				transition: background 0.3s, box-shadow 0.3s;
			}
			&::before {
				position: absolute;
				right: 25px;
				z-index: -1;
				color: $green;
				line-height: 46px;
			}
			a {
				&:hover {
					background: rgba(0,0,0,0.2);
					box-shadow: inset 0 -1px rgba(0,0,0,0);
				}
			}
		}
	}
	h2 {
		margin: 0;
		padding: 15px;
		color: $green;
		text-shadow: 0 0 1px rgba(0,0,0,0.1);
		font-weight: 300;
		font-size: 22px;
		text-align: center !important;
	}
	.mp-level.mp-level-overlay {
		>ul {
			>li {
				>a {
					box-shadow: inset 0 -1px rgba(0,0,0,0);
				}
			}
		}
		>.mp-back {
			background: transparent;
			box-shadow: none;
			color: $color_5;
			&::after {
				background: transparent;
				box-shadow: none;
				color: $color_5;
			}
		}
	}
}
.mp-level {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	-webkit-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	&::after {
		position: absolute;
		top: 0;
		right: 0;
		width: 0;
		height: 0;
		content: '';
		opacity: 0;
		background: rgba(0,0,0,0.3);
		-webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
		-moz-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
		transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
		z-index: -1;
	}
	&::before {
		position: absolute;
		top: 0;
		right: 0;
		width: 0;
		height: 0;
		content: '';
		opacity: 0;
	}
	>ul {
		>li {
			&:first-child {
				>a {
					box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
					&:hover {
						background: rgba(0,0,0,0.2);
						box-shadow: inset 0 -1px rgba(0,0,0,0);
						box-shadow: inset 0 -1px rgba(0,0,0,0), inset 0 1px rgba(0,0,0,0);
					}
				}
			}
		}
	}
}
.mp-pusher.mp-pushed {
	&::after {
		width: 100%;
		height: 100%;
		opacity: 1;
		-webkit-transition: opacity 0.3s;
		-moz-transition: opacity 0.3s;
		transition: opacity 0.3s;
	}
}
.mp-level.mp-level-overlay {
	&::after {
		width: 100%;
		height: 100%;
		opacity: 1;
		-webkit-transition: opacity 0.3s;
		-moz-transition: opacity 0.3s;
		transition: opacity 0.3s;
	}
	cursor: pointer;
	>ul {
		>li {
			&:first-child {
				>a {
					box-shadow: inset 0 -1px rgba(0,0,0,0);
					box-shadow: inset 0 -1px rgba(0,0,0,0), inset 0 1px rgba(0,0,0,0);
				}
			}
		}
	}
}
.mp-level.mp-level-overlay.mp-level {
	&::before {
		width: 100%;
		height: 100%;
		background: transparent;
		opacity: 1;
	}
}
.mp-overlap {
	.mp-level.mp-level-open {
		box-shadow: 1px 0 2px rgba(0,0,0,0.2);
		-webkit-transform: translate3d(-40px, 0, 0);
		-moz-transform: translate3d(-40px, 0, 0);
		transform: translate3d(-40px, 0, 0);
	}
	.mp-level.mp-level-overlay {
		>h2 {
			&::before {
				opacity: 1;
				-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
				-moz-transition: -moz-transform 0.3s, opacity 0.3s;
				transition: transform 0.3s, opacity 0.3s;
				-webkit-transform: translateX(0);
				-moz-transform: translateX(0);
				transform: translateX(0);
			}
		}
	}
}
.mp-menu.mp-overlap {
	>.mp-level {
		box-shadow: none;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	>.mp-level.mp-level-open {
		box-shadow: none;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	h2 {
		&::before {
			position: absolute;
			top: 0;
			right: 0;
			margin-right: 8px;
			font-size: 75%;
			line-height: 1.8;
			opacity: 0;
			-webkit-transition: opacity 0.3s, -webkit-transform 0.1s 0.3s;
			-moz-transition: opacity 0.3s, -moz-transform 0.1s 0.3s;
			transition: opacity 0.3s, transform 0.1s 0.3s;
			-webkit-transform: translateX(-100%);
			-moz-transform: translateX(-100%);
			transform: translateX(-100%);
		}
	}
}
.mp-cover {
	.mp-level.mp-level-open {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		z-index: 10;
		>ul {
			>li {
				>.mp-level {
					&:not(.mp-level-open) {
						-webkit-transform: translate3d(-100%, 0, 0);
						-moz-transform: translate3d(-100%, 0, 0);
						transform: translate3d(-100%, 0, 0);
					}
				}
			}
		}
	}
}
.mp-menu.mp-cover {
	h2 {
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 1px;
		font-size: 15px;
	}
}
.mp-back {
	background: #ffba00;
	outline: none;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	display: block;
	font-size: 16px;
	padding: 15px;
	position: relative;
	transition: background 0.3s;
	transition: opacity 0.3s;
	&::after {
		font-family: $font_family_1;
		position: absolute;
		content: "\0046";
		right: 10px;
		font-weight: 300;
		font-size: 16px;
		line-height: 21px;
		color: #000;
	}
	&:hover, &:focus{
		background: #ffba00 !important;
		outline: none;
		color: #000;
		opacity: 0.7;
	}
}
.no-csstransforms3d {
	.mp-pusher {
		padding-left: 300px;
	}
	.mp-menu {
		.mp-level {
			display: none;
		}
		>.mp-level {
			display: block;
		}
	}
}
.no-js {
	.mp-pusher {
		padding-left: 300px;
	}
	.mp-menu {
		.mp-level {
			display: none;
		}
		>.mp-level {
			display: block;
		}
	}
}
