.content-text {
    font-weight: 300;
    line-height: rem(28);
    color: $darker-green;

    .black {
        color: #000;
    }
}

.resources-header-text {
    font-weight: 300;
    font-size: rem(20);
    line-height: rem(28);
    letter-spacing: -0.025em;
    color: $light-green;
}

.resources-content-text {
    font-weight: 300;
    letter-spacing: 0;
    line-height: 28px;
    color: $darker-green;
    font-size: 16px;
}

.resources-section-list {
      
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      
      li {
        margin-left: 30px;
      }
      
      li::before {
        content: "■";
        color: #307127; /* or whatever color you prefer */
        padding-right: 20px;
        margin-left: -30px;
      }
    }
  }