  .navbar {
    padding: 0 15px;
  }

  .header-support {
    background-color: #f4f4f4;
    width: 100%;
    letter-spacing: 0.01em;
    max-height: 41px;

    p {
      font-size: rem(12);
      line-height: 41px !important;
      font-weight: 500;
      margin-bottom: 0;

      a {
        color: #000;
        font-weight: 600;
        display: inline-block;
        margin-left: 12px;
      }
    }
  }

  nav.navbar  {
    background-color: #fff;

    .menu-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;

      .navbar-nav {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          width: 200%;
          height: 8px;
          background: #e8e8e8;
        }

        .nav-item {
          padding: 0 !important;

          &:last-child {
            margin-right: 0;
          }

          &.active {
            .nav-link {
              color: $green;
              font-weight: 700;

              &:before {
                height: 8px;
              }
            }
          }

          .nav-link {
            text-transform: uppercase;
            color: #010101;
            font-family: $font-family-secondary;
            font-weight: 500;
            font-size: rem(14);
            transition: $transition;
            letter-spacing: -0.025em;
            padding: rem(45) rem(20);
            position: relative;
            border: none !important;
            white-space: nowrap;

            &:hover {
              color: $green;
            }
          }

          &:nth-last-child(2) {
            .nav-link {
              padding: rem(45) rem(0) rem(45) rem(20);
            }
          }

          &:first-child {
            .nav-link {
              padding: rem(45) rem(20) rem(45) rem(0);
            }
          }

          .dropdown-item {
            padding: rem(20);
          }
        }
      }

      .navbar-toggler {
        background-color: rgb(54, 124, 43);
        padding: 10px 8px;
        margin: 0;
        border: none;
        border-radius: 0;

        &[aria-expanded="false"] {
          span {
            display: block;
            width: 25px;
            height: 3px;
            margin-bottom: 5px;
            background-color: #fff;
            transition: $transition;

            &:first-child {
              width: 40%;
            }

            &:nth-child(2) {
              width: 70%;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }

          &:hover span {
            width: 25px;
            background-color: $yellow;
          }
        }

        &[aria-expanded="true"] {
          background-color: rgb(42, 96, 33);

          span {
            display: block;
            position: relative;
            width: 25px;
            height: 3px;
            margin-bottom: 5px;
            background-color: #fff;
            transition: transform 0.35s ease-in-out, opacity 0.01s ease-in-out, background-color 0.1s ease-in-out;

            &:first-child {
              left: 4px;
              transform-origin: left center;
              transform: rotate(45deg);
              background-color: $yellow;
            }

            &:nth-child(2) {
              opacity: 0;
            }

            &:last-child {
              margin-bottom: 0;
              top: 2px;
              left: 4px;
              transform-origin: left center;
              transform: rotate(-45deg);
              background-color: $yellow;
            }
          }
        }

        &:hover {
          background-color: rgb(42, 96, 33);
        }
      }
    }

    .bottom-bar {
      position: absolute;
      height: 8px;
      background: $green;
      transition: $transition;
      bottom: 0;
    }
  }


ul#main-menu {
  position: relative;

  li.dropdown {
    position: initial;

    ul.dropdown-menu {
      width: 100vw;
      background-color: $light-blue;
      border: none;
      border-radius: 0;
      box-shadow: 0px 6px 16px 0px rgba(2, 2, 2, 0);
      margin-top: 0px;
      padding: 0;
      position: absolute;
      left: 0;
      max-height: 0;
      visibility: hidden;
      overflow: hidden;
      display: block;
      transition: all 0.4s linear;

      &.show {
        max-height: 300px;
        visibility: visible;
        transition: all 0.6s linear;
      }

      li {
        float: left;
        text-transform: uppercase;
        font-size: rem(14);
        line-height: rem(48);
        letter-spacing: -0.025em;

        &.active {
          background-color: darken($light-blue, 10%);
        }

        a {
          color: #fff;
          transition: $transition;

          &:hover {
            color: #eee;
            background-color: darken($light-blue, 5%);
          }
        }
      }
    }
  }

  li.dropright {
    ul.dropdown-menu {
      overflow: hidden;

      li {

        &.active a {
          color: $green;
        }
      }
    }
  }
}

/* Search Box */
#searchform-header {
  button.submit {
    position: relative;
    transition: all 0.4s linear;
    z-index: 9999;
    color: #81ad7a;
    padding: 0;
    border: none;
    border-radius: 0;
    padding-right: 16px;
    padding-left: 12px;

    .icon {
      position: relative;
      top: 4px;
      font-size: rem(18);
    }

    &:hover {
      color: $yellow;
    }
  }

  input.form-control {
    height: 51px;
  }

  input.field {
    z-index: 999;
    max-width: 80px;
    padding: 0 rem(16);
    margin-left: 40px;
    border: none;
    border-radius: 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: rem(14);
    font-weight: 300;
    letter-spacing: -0.025em;
    color: #c6eebf;
    background-color: $green;
    transition: all 0.4s linear;

    &::placeholder {
      color: #c6eebf;
    }

    &:focus {
      outline: 0;
      border-color: inherit;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

/* Search Button < 768px */
.search-icon {
  display: none;
  color: #81ad7a;
  border-radius: 0;
  border: none;
  transition: all 0.4s linear;
  padding: 10px 12px;
  margin: 0;
  font-size: 0;

  .icon {
    font-size: rem(18);
    line-height: 100%;
  }

  &:hover {
    color: $yellow;
  }

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

// Media Queries
@include media-breakpoint-down(xl) {
  #searchform-header {
    input.form-control {
      height: 45px;
    }

    input.field {
      margin-left: 15px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  nav.navbar {
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: rem(45) rem(10);
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  #searchform-header {
    input.form-control {
      height: 40px;
    }

    input.field {
      margin-left: 10px;
      max-width: 70px;
    }

    button.submit {
      padding: 0 rem(6);
    }
  }

  nav.navbar {
    .menu-wrapper {
      .navbar-nav {

        .nav-item,
        .nav-item:first-child,
        .nav-item:nth-last-child(2) {
          .nav-link {
            padding: rem(47) rem(8);
          }
        }
      }
    }
  }

  .navbar-brand img {
    height: 40px;
    width: auto;
  }
}

@include media-breakpoint-down(md) {
  nav.navbar {
    padding: 18px 0;

    .menu-wrapper {

      .navbar-nav {
        &::before {
          display: none;
        }

        .nav-item,
        .nav-item:first-child,
        .nav-item:nth-last-child(2) {
          .nav-link {
            padding: rem(10) rem(10);
          }
        }
      }
    }
  }

  .bottom-bar {
    display: none;
  }

  #searchform-header {
    input.form-control {
      height: 40px;
    }

    input.field {
      margin-left: 0;
      max-width: 120px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .search-icon {
    display: block;
  }

  nav.navbar {
    .menu-wrapper {

      #searchform-header {
        width: 100vw;
        position: absolute;
        bottom: 0;
        transition: $transition;

        input.field {
          max-width: none;
        }

        button.submit {
          padding: 0 rem(14);
        }

        .icon {
          font-size: 0;
        }

        &.active .icon {
          font-size: rem(18);
        }

        input.form-control, button.submit {
          height: 0;
          transition: $transition;
        }

        &.active input.form-control, &.active button.submit {
          height: 41px;
          transition: $transition;
        }


        &.active {
          bottom: -41px;
          transition: $transition;
        }
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  nav.navbar {
    .menu-wrapper {
      .navbar-brand {
        img {
          height: rem(30);
        }
      }
    }
  }

  #searchform-header {
    input.field {
      max-width: rem(85);
    }
  }
}
