.wrapper-404 {
  height: 50vh;
  width: 100%;

  .main_404_heading {
    font-size: rem(100);
    line-height: 100%;
    font-weight: bold;
    letter-spacing: -0.025em;
    text-align: center;
  }

  .second_404_heading {
    font-size: rem(60);
    line-height: 100%;
    font-weight: 300;
    letter-spacing: 0.25em;
    text-align: center;
  }
}