// ------ What is Insulation System? -------- //
#wrapper-insulation-system {
  min-height: 865px;
  position: relative;

  .background {
    width: 42%;
    position: absolute;
    right: 0;
    height: calc(100% - 70px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 999;
    }

    &.loaded::before {
      animation-name: imageSlide;
      animation-duration: 1s;
      animation-delay: 0.3s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
    }
  }

  .section-heading {
    color: $light-blue;
    letter-spacing: -0.025em;
    padding-top: 90px;

    span {
      color: $green;
    }
  }

  .section-subheading {
    font-size: rem(20);
    line-height: rem(28);
    letter-spacing: -0.026em;
    font-weight: 300;
    padding-top: rem(38);
    margin-bottom: 0;
  }

  .content-text {
    padding-top: rem(30);
    max-width: 685px;

    p {
      margin-bottom: 0;
    }
  }

  .section-images-wrapper {
    padding-top: 60px;

    .section-images {
      position: relative;

      .section-image {
        display: inline-block;
        padding-left: 120px;

        &:first-child {
          margin-left: 0;
          padding: 0;
        }

        &:not(:last-child)::after {
          content: '';
          display: inline-block;
          height: 95px;
          padding-left: 60px;
          border-right: 1px solid#b1b1b1;
          position: absolute;
          top: 0;
        }
      }
    }
  }
}

// ------ EWI Pro Product Range -------- //
#wrapper-product-range {
  min-height: 709px;
  position: relative;

  .section-left-side {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -100;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 999;
    }

    &.loaded::before {
      animation-name: imageSlide;
      animation-duration: 1s;
      animation-delay: 0.3s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
    }
  }

  .section-right-side {
    position: absolute;
    width: 50%;
    height: calc(100% + 120px);
    background-color: #f3f3f3;
    top: 0;
    right: 0;
    margin-top: -70px;
    z-index: -1;
  }

  .right-heading {
    padding-top: rem(33);

    &::before {
      content: '';
      display: inline-block;
      height: rem(100);
      border-left: 2px solid #d8d8d8;
      margin-left: -12px;
    }
  }

  .left-heading {
    max-width: 510px;
    padding-top: rem(30);

    .white {
      position: relative;
      padding: rem(65) 0 rem(60) 0;
      display: block;

      &::after {
        content: '';
        width: 200%;
        height: 100%;
        background-color: rgba(#307127, 0.78);
        display: block;
        position: absolute;
        right: -15%;
        top: 0;
        z-index: -1;
      }
    }
  }

  .content-text {
    padding-top: rem(15);
  }

  .include-text {
    padding-top: rem(72);
    font-size: rem(20);
    line-height: rem(28);
    color: $darkest-green;
    letter-spacing: -0.025em;
    font-weight: bold;
  }

  .include-options {
    padding-top: rem(14);

    &.row {
      max-width: 510px;
    }
    
    .option-box {
      margin-bottom: 30px;

      .option {
        background-color: green;
        width: 151px;
        height: 141px;
        color: #fefffe;
        font-size: rem(14);
        line-height: rem(20);
        font-weight: 300;
        padding: rem(20) rem(10) 0 rem(20);
        display: inline-block;
        margin: 0;
  
        &.link {
          background-color: #cccccc;
          border-bottom: 0px solid #194213;
          transition: $transition;
  
          .icon-caret-right {
            color: grey;
            font-size: rem(9);
          }
  
          &:hover {
            border-bottom: 10px solid #194213;
          }
        }
      }

      .link {
        background-color: #cccccc;
        border-bottom: 0px solid #194213;
        transition: $transition;
        text-decoration: none;
        color: #000;
        padding-bottom: rem(20);
  
        .icon-caret-right {
          color: grey;
          font-size: rem(9);
        }
  
        &:hover {
          border-bottom: 10px solid #194213;
        }
      }
    }  
  }
}

// ------ What makes Ewipro different? -------- //
.wrapper-what-makes-ewipro-different {
  min-height: 1075px;
  position: relative;

  .small-heading {
    padding-top: rem(150);
  }

  .contact-image {
    padding: rem(230) rem(20) 0 rem(50);
  }

  .contact-number {
    font-size: rem(49);
    font-weight: bold;
    padding-top: rem(220);

    a {
      color: #000;
    }
  }

  .button {
    padding-top: rem(12);
  }

  div.content-text p:first-of-type {
    margin-bottom: 0;
    padding-top: rem(13);
  }

  .right-side {
    margin-top: 150px;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f3f3f3;
    display: block;
    height: 50%;
    z-index: -1;
  }

  .video-background {
    visibility: hidden;
    width: 100%;
    max-height: 48%;
    position: absolute;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;

    &.loaded {
      animation-name: videoSlideUp;
      animation-duration: 1s;
      animation-delay: 0.3s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
    }

    video {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transition: $transition;

      &.is-visible {
        opacity: 1;
      }
    }
  }
}

@include media-breakpoint-down(xl) {
  .wrapper-what-makes-ewipro-different {
    .video-background {
      max-height: 400px;
    }
  }

  #wrapper-insulation-system {
    min-height: 0;

    .section-images-wrapper {
      padding-right: rem(20);
      padding-bottom: rem(40);

      .section-images {
        .section-image {
          padding-left: 100px;

          &:not(:last-child)::after {
            height: 100%;
            padding-left: 50px;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .wrapper-what-makes-ewipro-different {
    min-height: 0;
    padding-bottom: rem(40);

    .section-video {
      display: none;
    }
    .left-side-text {
      padding-right: rem(30);
    }
  }

  #wrapper-product-range {
    .include-options {
      .option-box {
        .option {
          width: 100%;
          min-height: 170px;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  #wrapper-insulation-system {
    .background {
      display: none;
    }
    .section-images-wrapper {
      padding-right: 0;

      .section-images {
        .section-image {
          padding-left: 70px;

          &:not(:last-child)::after {
            height: 100%;
            padding-left: 35px;
          }
        }
      }
    }
  }

  #wrapper-product-range {
    .section-left-side {
      display: none;
    }

    .section-right-side {
      height: 100%;
      width: 100%;
      margin-top: 0;
    }

    .left-heading {
      margin-bottom: 0;
    }

    .right-heading {
      &::before {
        display: none;
      }
    }

    .include-text {
      padding-top: rem(40);
    }

    .include-options {
      &.row {
        max-width: none;
      }

      .option-box {
        .option {
          min-height: 120px;
        }
      }
    }
  }

  .wrapper-what-makes-ewipro-different {
    .contact-image {
      padding: rem(190) 0 0 0;
    }
    .contact-number {
      font-size: rem(30);
      padding-top: rem(175);
    }
    .small-heading {
      padding-top: rem(40);
    }
    .right-side {
      margin-top: rem(150);
    }
  }
}

@include media-breakpoint-down(sm) {
  .wrapper-what-makes-ewipro-different {
    .right-side {
      display: none;
    }
    .contact-image {
      padding-top: rem(55);
    }
    .contact-number {
      padding-top: rem(40);
    }
    .right-side-text {
      text-align: center;
    }
  }

  #wrapper-product-range {
    overflow: hidden;
  }
}

@include media-breakpoint-down(xs) {
  .wrapper-what-makes-ewipro-different {
    .right-side {
      height: 35%;
    }
  }
}