.blog-header{
  padding-top: rem(40);
  padding-bottom:rem(65);
  margin-bottom:rem(60);
  &.header-wrapper{
    background: $green;
    h2{
      .white span{
        color: #164010;
      }
    }
    p{
      color: #fff;
      font-size: rem(20);
      line-height: rem(28);
      letter-spacing: -0.028em;
      font-weight: 300;
      margin-bottom: 0;
    }
  }
}

.post_item_date {
  font-size: rem(16);
  color: #8c8c8c;
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom:5px;
  span{
    //background: #fff;
    padding-right: 5px;
    position: relative;
    z-index:1;
    display: inline-block;
    width: 90px;
  }
  span.icon {
    font-size: rem(24);
    line-height: 100%;
    display: inline-block;
    width: 40px;
  }
  &::after{
    content: '';
    position: absolute;
    left: 130px;
    top: 50%;
    width: 100%;
    height:1px;
    background: #636363;
  }
}

.post_item{
  position: relative;
  margin-bottom: rem(50);
  overflow: hidden;
  img{
    width: auto;

  }
  .entry-content{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(#fff, 0.8);
    text-align: center;
    padding: rem(20);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition;
    height: 90px;
    width: 100%;
    p{
      margin-bottom:0;
      font-size: rem(20);
      line-height: rem(24);
      font-weight: 300;
      color: #061923;
      letter-spacing: -0.025em;
      transition: $transition;

    }
  }
  .entry-footer{
    background: $yellow;
    text-align: center;
    .blog_item_link{
      background: #363636;
      color: #fff;
      display: inline-block;
      font-size: 12px;
      font-weight: 500;
      padding: rem(10) rem(30);
    }
  }
  &:hover{
    .entry-content{
      height:100%;
      background: rgba(#0b5270, 0.8);
      p{
        color: #fff;
      }
    }
  }
}

.single_post_content{
  .post_item_date{
    margin-bottom:rem(20);
  }
  img{
    margin-bottom: rem(30);
  }
  h1.entry-title{
    font-size: rem(60);
    line-height: rem(70);
    letter-spacing: -0.025em;
    font-weight: 700;
    margin-bottom:rem(20);
  }
  h2{
    margin-bottom:rem(15);
  }
  p{
    font-size: rem(20);
    line-height: rem(28);
    font-weight: 300;
    a{
      color: $green;
    }
  }
  .entry-footer{
    margin-top: rem(40);
    border-top: 1px solid #c9c9c9;
    margin-bottom:rem(70);
  }
  .product_share{
    margin-left: 0;
  }
  .read-more-button{
    width: 180px;
    &.prev{
      padding: 10px rem(30) 10px rem(60);
      &::after {
        content: '\0048';
        left: -1px;
        right: auto;
        font-family: icons;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
      }
    }
    &:last-child{
      margin-left: 25px;
    }
  }
}
.main_post_col{
  padding-right: rem(30);
}
.sidebar_post_parent{
  padding-left: rem(30);
  border-left: 1px solid #adadad;
}
.last_post_sidebar{
  padding-top: rem(30);

  h2{
    color: #164010;
    font-weight: 700;
    font-size: rem(26);
    line-height: rem(26);
    margin-bottom:  rem(35);
  }
  a{
    color: #061923;
    font-size: rem(20);
    line-height: rem(24);
    font-weight: 300;
    letter-spacing: -0.025em;
    &:hover{
      .btn{
        &.btn-default{
          background: $yellow;
          color: #363636;
        }
      }
    }
  }
  .btn{
    &.btn-default{
      font-size: 12px;
      color: #fff;
      border-radius: 0;
      background: #363636;
    }
  }
}


@include media-breakpoint-down(xl) {
  .single_post_content .read-more-button {
    width: 130px;
  }
}

@include media-breakpoint-down(lg) {
  .blog-header{
    padding-bottom:rem(40);
  }
}

@include media-breakpoint-down(md) {
  .single_post_content .read-more-button {
    margin-top: rem(40);
  }
  .main_post_col{
    padding-right:15px;
  }
  .sidebar_post_parent {
    padding-left: 15px;
    border-left: 0px solid #adadad;
  }
}



