.contact-wrapper {
  min-height: 100vh;
  position: relative;

  //.background {
  //  position: absolute;
  //  top: 0;
  //  right: 0;
  //  width: 100%;
  //  height: 100%;
  //  background-color: rgba($color: #367c2b, $alpha: 0.5);
  //  z-index: 10;
  //  pointer-events: none;
  //}

  #map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .informations-wrapper {
    position: relative;
    z-index: 999;
    padding-top: 125px;
    pointer-events: none;

    .contact-info-box {
      background-color: rgba($color: #ffffff, $alpha: 0.7);
      padding-top: rem(120);
      padding-bottom: rem(120);
      padding-left: rem(20);
      pointer-events: all;

      .company-name h2,
      .sales-inquires-heading h3,
      .technical-support-heading h3,
      .company-address,
      .technical-support-contact,
      .sales-inquires-contact {
        padding-left: 40px;
      }

      .company-name h2,
      .sales-inquires-heading h3,
      .technical-support-heading h3 {
        position: relative;
        font-family: $font-family-secondary;
        font-weight: bold;
        font-style: normal;
        font-size: rem(16);
        line-height: rem(42);
        letter-spacing: -0.025em;
        padding-bottom: 15px;

        &::after {
          content: '';
          display: inline-block;
          position: absolute;
          bottom: 0;
          left: 0;
          margin-left: 40px;
          width: 155px;
          border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
        }
      }

      .company-name h2 {
        color: $green;
      }
    }

    .company-address,
    .technical-support-contact,
    .sales-inquires-contact {
      a, span {
        color: #000;
        font-weight: 300;
        line-height: rem(28);
        letter-spacing: -0.025em;
      }

      img {
        max-width: 19px;
        max-height: 23px;

        &[alt*="mobile"] {
          padding-right: rem(7);
        }
      }
    }
  }
}

.contact-form-wrapper {
  background-color: #f4f4f4;
  max-width: 450px;
  position: absolute;
  top: 0;
  right: 0;
  padding: rem(60) rem(48) rem(20) rem(28);
  pointer-events: all;

  .contact-heading {
    font-family: $font-family-secondary;
    font-weight: bold;
    font-size: rem(20);
    line-height: rem(42);
    letter-spacing: -0.025em;
  }

  .wpcf7 {

    input:not([type="submit"]),
    textarea {
      border-radius: 0;
      padding: rem(20);
      height: rem(55);

      &::placeholder {
        color: #d3d3d3;
        font-weight: 300;
        line-height: rem(28);
      }
    }

    textarea {
      height: 190px;
      max-height: 190px;
      padding: rem(20);
    }

    button[type="submit"] {
      position: relative;
      color: #fff;
      display: block;
      margin: 20px auto;
      padding: 11px 0;
      line-height: 100%;
      width: 200px;
      background-color: $yellow;
      border: 1px solid $yellow;
      border-radius: 8px;
      box-shadow: none;
      transition: $transition;

      .icon {
        position: absolute;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);
        padding: 14px 0;
        font-size: rem(10);
        line-height: 100%;
        color: #787878;
        transition: $transition;
      }

      &:hover {
        cursor: pointer;
        background-color: $orange;

        .icon {
          color: white;
        }
      }
    }
  }
}

@include media-breakpoint-down(xl) {
  .contact-wrapper {
    .informations-wrapper {
      .contact-info-box {

        .company-name h2,
        .sales-inquires-heading h3,
        .technical-support-heading h3,
        .company-address,
        .technical-support-contact,
        .sales-inquires-contact {
          padding-left: 20px;
        }

        .company-name h2,
        .sales-inquires-heading h3,
        .technical-support-heading h3 {
          &::after {
            margin-left: 20px;
          }
        }
      }
    }
  }

  .contact-form-wrapper {
    max-width: 400px;
  }
}

@include media-breakpoint-down(lg) {
  .contact-wrapper {
    .informations-wrapper {

      .company-address,
      .technical-support-contact,
      .sales-inquires-contact {
        font-size: 14px;
      }

      .contact-info-box {

        .company-name h2,
        .sales-inquires-heading h3,
        .technical-support-heading h3 {
          font-size: 14px;
        }
      }
    }
  }

  .contact-form-wrapper {
    position: initial;
    max-width: none;
    padding: rem(40) rem(20);

    .contact-heading {
      text-align: center;
    }

    .wpcf7 {

      button[type="submit"],
      input:not([type=submit]),
      textarea {
        font-size: 14px;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .contact-wrapper {
    .informations-wrapper {
      .contact-info-box {
        padding: rem(60) rem(20);

        .company-name h2,
        .sales-inquires-heading h3,
        .technical-support-heading h3,
        .company-address,
        .technical-support-contact,
        .sales-inquires-contact {
          padding-left: 10px;
        }

        .company-name h2,
        .sales-inquires-heading h3,
        .technical-support-heading h3 {
          &::after {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .contact-wrapper {
    .informations-wrapper {
      padding-top: 80px;
      .contact-info-box { 
        padding: rem(20) rem(20);

        .company-name h2,
        .sales-inquires-heading h3,
        .technical-support-heading h3,
        .company-address,
        .technical-support-contact,
        .sales-inquires-contact {
          padding-left: 0;
        }

        .company-name h2,
        .sales-inquires-heading h3,
        .technical-support-heading h3 {
          &::after {
            margin-left: 0;
          }
        }

        .address {
          margin-bottom: rem(20);
          text-align: center;
        }

        .company-name h2 {
          &::after {
            width: 100%;
          }
        }

        .sales-inquires-heading h3, .technical-support-heading h3{
          &::after {
            width: 80%;
          }
        }
      }
    }
  }
}