.downloads_page{
  padding-top: rem(50);
  margin-bottom: rem(200);
  .downloads_header{
    margin-bottom: rem(70);
    h1{
      font-size: rem(60);
      line-height: rem(60);
      letter-spacing: -0.025em;
      color: #829bad;
      font-weight: 700;
      margin-bottom: rem(50);
      border-left: 1px solid #829bad;
      padding-top: rem(50);
      padding-left: rem(15);
      margin-left: rem(-15);
    }
    p{
      font-size: rem(20);
      line-height: rem(28);
      font-weight: 300;
      letter-spacing: -0.025em;
    }
  }
  .download_row{
    margin-bottom: rem(60);
    border-top: 1px solid #e9e9e9;
  }
  .download_category{
    padding: rem(40) rem(20);
    text-align: center;
    background: #ececec;
    img{
      margin-bottom: rem(25);
    }
    h5{
      font-size: rem(20);
      font-weight: 500;
      text-transform: uppercase;
      border-bottom: 1px solid #bdbdbd;
      padding-bottom: rem(8);
    }
  }
  .download_center_parent{
    border-left: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    padding: rem(30) rem(15) rem(30) rem(60);
    .nano{
      max-height: rem(360);
      &:before{
        content: '';
        position: absolute;
        right: 6px;
        width: 1px;
        height: 100%;
        background: #cccccc;
      }
    }
  }
  .download_center{
    padding-right: rem(40);
    ul{
      list-style: none;
      padding-left: 0;
      li{
        font-size: rem(16);
        line-height: rem(28);
        font-weight: 300;
        letter-spacing:  -0.025em;
        position: relative;
        padding: rem(5);
        opacity: 1;
        transition: $transition;
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 0%;
          background: #f4f4f4;
          z-index: -1;
          transition: $transition;
        }
        &.active{
          &:before{
            width: 100%;
          }
        }
        &:not(.active){
          &:hover{
            cursor: pointer;
            opacity: 0.7;
          }
        }
      }
    }
  }
  .download_right_parent{
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    .download_right_item{
      opacity: 0;
      pointer-events: none;
      width: 100%;
      padding: rem(50);
      @include centerAbs();
      transition: $transition;
      h5{
        font-size: rem(24);
        line-height: rem(28);
        font-weight: 300;
      }
      &.active{
        opacity: 1;
        pointer-events: all;
      }
      .btn{
        background: #ffba00;
        border-radius: 10px;
        font-size: rem(16);
        color: #fff;
        padding: rem(7) rem(70) rem(7) rem(50);
        position: relative;
        margin-top: rem(40);
        border: 0;
        transition: $transition;
        .icon{
          font-size: rem(8);
          color: #787878;
          transition: $transition;
          &:before{
            position: absolute;
            right: rem(40);
            top: 50%;
            transform: translateY(-50%) rotate(90deg);
          }
        }
        &:hover{
          background: $green;
          .icon{
            color: #fff;
          }
        }
      }
    }
  }

}

// MEDIA QUERIES

@include media-breakpoint-down(md) {
  .downloads_page {
    
    .download_row {
      border: 1px solid #e9e9e9;
    }

    .download_category {
      margin-top: rem(50);

      img {
        width: 40%;
      }
    }

    .download_right_parent {
      border: none;

      .download_right_item {
        display: none;
        position: initial;
        top: 0;
        left: 0;
        transform: none;
  
        &.active {
          display: block;
        }
      }
    }

    .download_center_parent {
      border: none;
      padding-bottom: 0;
    }

    .downloads_header {
      h1 {
        font-size: rem(34);
      }
    }  
  }
}

@include media-breakpoint-down(xs) {
  .downloads_page {
    .downloads_header {
      h1 {
        border-left: 0;
      }
    }

    .download_category {
      img {
        width: 30%;
      }
    }

    .download_center_parent {
      padding: rem(50) rem(20);

      .nano {
        max-height: rem(200);
      }
    }

    .download_right_parent {
      .download_right_item {
        padding-top: 0;
      }
    }
  }
}