 .environmental-policy-wrapper {
   .header-wrapper {
     min-height: 505px;
     background-image: url(/wp-content/themes/understrap-master/assets/img/env-top-background.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     position: relative;

     .right-side-background {
       width: 50%;
       height: 100%;
       position: absolute;
       top: 0;
       right: 0;
       background-size: cover;
       background-repeat: no-repeat;
       background-position: left;

       &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 999;
      }

      &.loaded::before {
        animation-name: imageSlide;
        animation-duration: 1s;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
      }
     }

     .extra-wrapper {
       max-width: 620px;

       .section-heading {
         letter-spacing: -0.025em;
         padding-top: rem(40);
         position: relative;
       }

       .resources-header-text {
         padding-top: rem(40);
       }
     }
   }

   .content-wrapper {
     padding-top: rem(62);
     padding-bottom: rem(120);

     .extra-wrapper {
       max-width: 810px;

       .resources-section-list {
         padding-top: rem(48);
       }

       .resources-section-text {
         padding-top: rem(65);
       }
     }

     .approval-box {
      padding: rem(40) rem(210) rem(82) rem(36);
      background-color: #f4f4f4;

      h4 {
        font-size: rem(16);
        font-family: 'FuturaBt';
        font-weight: bold;
        line-height: rem(28);
        letter-spacing: -0.025em;
        color: $darkest-green;
      }

      p {
        line-height: rem(28);
        color: $darkest-green;
        margin-bottom: rem(2);

        &:first-of-type {
          padding-top: rem(2);
        }
      }
    }

    .section-images {
      padding-top: rem(55);

      &:last-of-type {
        padding-top: rem(35);
      }

      .iso-text {
        font-size: rem(28);
        font-family: 'FuturaBt';
        font-weight: bold;
        font-style: normal;
        line-height: rem(28);
        letter-spacing: -0.050em;
        color: #000;
      }
    }
   }
 }

@media all and (max-width: 1550px) {
  .environmental-policy-wrapper {
    .header-wrapper {
      padding: 0 rem(25);
    }
  }
}

 @include media-breakpoint-down(xl) {
   .environmental-policy-wrapper {
     .header-wrapper {
       padding: 0 rem(15);
       .extra-wrapper {
         max-width: 520px;

         .section-heading {
           font-size: rem(50);
         }

         .resources-header-text {
           padding-bottom: rem(40);
         }
       }
     }

     .content-wrapper {
      .approval-box {
        padding: rem(40) rem(80) rem(40) rem(40);
      }
    }
   }
 }

 @include media-breakpoint-down(lg) {
   .environmental-policy-wrapper {
     .header-wrapper {
       .extra-wrapper {
         max-width: 450px;
       }
     }
   }
 }

 @include media-breakpoint-down(md) {
   .environmental-policy-wrapper {

     .right-side-background {
       display: none;
     }

     .header-wrapper {
       min-height: 0;
       padding: 0;

       .extra-wrapper {
         max-width: none;

         .section-heading {
           font-size: rem(34);
         }

         .resources-header-text {
           padding-bottom: rem(50);
         }
       }
     }

     .content-wrapper {
       padding: rem(40) 0;

       .approval-box {
        padding: rem(40) 0;
        margin-top: rem(40);
        text-align: center;
      }
     }
   }
 }

 @include media-breakpoint-down(xs) {
   .resources-subheading {
     font-size: 14px !important;
   }
 }
