.find-installer-wrapper {
  .header-wrapper {
    min-height: 505px;
    background-image: url(/wp-content/themes/understrap-master/assets/img/env-top-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    .right-side-background {
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left;

      &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 999;
      }

      &.loaded::before {
        animation-name: imageSlide;
        animation-duration: 1s;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
      }
    }

    .extra-wrapper {
      max-width: 645px;

      .section-heading {
        letter-spacing: -0.025em;
        padding-top: rem(40);
        position: relative;

        .white > span {
          color: $resources-heading-green;
        }
      }

      .resources-header-text {
        padding: rem(40) 0;
      }
    }
  }

  .content-wrapper {
    .heading-wrapper {
      padding: rem(92) 0 rem(92) 0;
      .content-heading {
        margin-bottom: 0;
        font-size: rem(36);
        font-family: 'FuturaBt', sans-serif;
        letter-spacing: -0.025em;
        text-align: center;
        span {
          color: #347428;
          font-weight: 700;
        }
      }
    }
    .form-wrapper {
      .form-info-wrapper {
        .single-box {
          display: flex;
          align-items: center;
          padding: rem(18) 0;
          background-color: #e9e9e9;
          margin-bottom: rem(10);
          &:last-child {
            margin-bottom: 0;
          }
          .box-number {
            position: relative;
            left: rem(-12);
            display: inline-block;
            padding: rem(25) rem(30);
            font-size: rem(36);
            line-height: 100%;
            font-family: 'FuturaBt', sans-serif;
            font-weight: 700;
            background-color: $yellow;
            color: white;
          }
          .box-image {
            display: inline-block;
            margin: rem(0) rem(20);
            width: 80px;
            height: 80px;
            text-align: center;
          }
          .box-text {
            font-family: 'FuturaBt', sans-serif;
            font-weight: 700;
            letter-spacing: -0.025em;
            max-width: rem(400);
          }
        }
      }
      .form-content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: -ms-linear-gradient(75deg,#ffc322 0,#da9f00 100%);
        background-image: -moz-linear-gradient(75deg,#ffc322 0,#da9f00 100%);
        background-image: -webkit-linear-gradient(75deg,#ffc322 0,#da9f00 100%);
        .form-heading {
          margin-bottom: 20px;
          font-size: rem(36);
          font-family: 'FuturaBt', sans-serif;
          font-weight: 700;
          letter-spacing: -0.025em;
          text-transform: uppercase;
          text-align: center;
          color: #fff;
        }
        .form-row, .form-submit {
          width: 80%;
        }
        .form-row {
          margin: 0 auto rem(30) auto;
          .form-input, .form-checkbox {
            border: 1px solid #e4a600;
            outline: none;
            &:active, &:focus {
              border-color: #c48f00;
            }
          }
          .form-input {
            width: 100%;
            padding: rem(20) rem(25);
            font-size: rem(18);
            color: darken(#909090, 10%);
            font-weight: normal;
            border-radius: 0;
            &::placeholder {
              color: #909090;
              font-weight: 300;
            }
          }
          .form-checkbox {
            width: 20px;
            height: 20px;
          }
          label {
            font-size: rem(18);
            letter-spacing: -0.025em;
            line-height: 20px;
            color: #535353;
            margin-bottom: 0;
          }
        }
        .form-submit {
          margin: 0 auto;
          text-align: right;
          &__button {
            position: relative;
            border: none;
            height: 50px;
            padding: 0 rem(80) 0 rem(60);
            font-size: rem(21);
            letter-spacing: -0.025em;
            color: #fff;
            background-color: #799773;
            transition: $transition;
            .icon {
              position: absolute;
              right: 20%;
              top: 50%;
              transform: translate(-50%, -50%);
              font-size: rem(14);
              color: #536350;
              transition: $transition;
            }
            &:hover {
              cursor: pointer;
              background-color: darken(#799773, 10%);
              .icon {
                color: lighten(#fff, 10%);
              }
            }
          }
        }
      }
    }
    .text-wrapper {
      padding: rem(92) 0 rem(92) 0;
      .pushed-to-bottom {
        padding-top: rem(11);
      }

      .resources-subheading {
        margin-bottom: rem(30);
      }
    }
  }
}

.form-control, .wpcf7 .wpcf7-validation-errors, .wpcf7 input[type=color], .wpcf7 input[type=date], .wpcf7 input[type=datetime-local], .wpcf7 input[type=datetime], .wpcf7 input[type=email], .wpcf7 input[type=file], .wpcf7 input[type=month], .wpcf7 input[type=number], .wpcf7 input[type=range], .wpcf7 input[type=search], .wpcf7 input[type=submit], .wpcf7 input[type=tel], .wpcf7 input[type=text], .wpcf7 input[type=time], .wpcf7 input[type=url], .wpcf7 input[type=week], .wpcf7 select, .wpcf7 textarea {
  display: block;
  width: 100%;
  height: auto;
  padding: auto;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: #fff;
  background-clip: unset;
  border: unset;
}

span.wpcf7-list-item {
  margin: 0 !important;
}

.wpcf7 {
  width: 100% !important;
  max-width: unset;
}
.wpcf7-form-control-wrap {
  width: 100% !important;
}

@include media-breakpoint-down(xl) {
  .find-installer-wrapper {
    .content-wrapper {
      .form-wrapper {
        .form-content-wrapper {
          .form-heading {
            font-size: rem(30);
          }
        }
        .form-info-wrapper {
          .single-box {
            .box-text {
              font-size: rem(16);
              line-height: normal;
              max-width: rem(360);
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .find-installer-wrapper {
    .content-wrapper {
      .form-wrapper {
        .form-content-wrapper {
        }
        .form-info-wrapper {
          .single-box {
            .box-text {
              max-width: rem(320);
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .find-installer-wrapper {
    .content-wrapper {
      .form-wrapper {
        .form-content-wrapper {
          padding: rem(20) 0;
        }
        .form-info-wrapper {
          margin-bottom: rem(40);
          .single-box {
            padding: rem(10) 0;
            .box-text {
              max-width: rem(450);
            }
            .box-image {
              width: 60px;
              height: 60px;
              img {
                max-height: 100%;
                width: auto;
              }
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .find-installer-wrapper {
    .content-wrapper {
      .heading-wrapper {
        .content-heading {
          font-size: rem(28);
        }
      }
      .form-wrapper {
        .form-content-wrapper {
        }
        .form-info-wrapper {
          .single-box {
            .box-text {
              max-width: 50%;
            }
            .box-image {
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .find-installer-wrapper {
    .content-wrapper {
      .heading-wrapper {
        padding: rem(40) 0;
        .content-heading {
          font-size: rem(26);
        }
      }
      .form-wrapper {
        .form-content-wrapper {
          .form-heading {
            font-size: rem(26);
            padding: 0 rem(10);
          }
          .form-row {
            width: 90%;
            label {
              font-size: rem(15);
            }
          }
        }
        .form-info-wrapper {
          .single-box {
            .box-number {
              padding: rem(20) rem(25);
            }
            .box-text {
              padding: 0 rem(10);
            }
            .box-image {
              margin: 0 rem(10);
              height: 50px;
              width: 50px;
              img {
                max-height: 100%;
                max-width: 100%;
              }
            }
          }
        }
      }
      .text-wrapper {
        padding: rem(40) 0;
      }
    }
  }
}
