.product_header{
  background-color: #f4f4f4;
  padding-top: rem(25);
  margin-bottom: rem(80);
  h4{
    font-family: $font-family-secondary;
    font-size: rem(36);
    font-weight: 700;
    color: #bbbbbb;
    margin-bottom: rem(10);
  }
  a{
    font-family: $font-family-secondary;
    font-size: rem(14);
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
    padding: rem(15) rem(15) rem(30) rem(15);
    display: inline-block;
    transition: $transition;
    &.active{
      font-weight: 700;
      background: #fff;
      cursor: default;
    }
    &:hover{
      &:not(.active){
        color: $green;
      }
    }

  }
}
.product_container{
  margin-bottom: rem(70);
}
.left_product_list_col{
  padding-right: 0;
}
.left_product_list{
  border-right: 6px solid #b1b1b1;
  .offset_15{
    display: block;
    height: rem(15);
    width:100%;
  }
  h3{
    font-size: rem(20);
    font-weight: 700;
    letter-spacing: -0.025em;
    color: $green;
    display: inline-block;
    border-bottom: 1px solid #b1b1b1;
    padding-right: rem(12);
    padding-bottom: rem(12);
    margin-bottom: rem(12);
  }
  ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    li{
      a{
        font-size: rem(18);
        line-height: rem(24);
        padding-top: rem(10);
        padding-bottom: rem(10);
        font-weight: 300;
        letter-spacing: -0.025em;
        color: #000;
        display: block;
        position: relative;
        transition: $transition;
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 0%;
          background: #b1b1b1;
          transition: $transition;
          z-index: -1;
        }
        &:hover{
          color: #fff;
          padding-left: rem(15);
          &:before{
            width: 100%;
          }
        }
        &.active{
          color: #fff;
          cursor: default;
          padding-left: rem(15);
          &:before{
            width: 100%;
          }
        }
      }
    }
  }
}
.product_content{
  margin-left: rem(40);
  border-bottom: 1px solid #b1b1b1;
  margin-bottom: rem(15);
  h1{
    font-size: rem(36);
    line-height: rem(48);
    font-weight: 700;
    letter-spacing: -0.025em;
    margin-bottom: rem(20);
  }
  h3{
    font-size: rem(20);
    line-height: rem(35);
    font-weight: 700;
    border-bottom: 1px solid #b1b1b1;
    display: inline-block;
    padding-right: rem(30);
    margin-bottom: rem(22);
  }
  p{
    font-size: rem(20);
    line-height: rem(36);
    font-weight: 300;
    color: #071a03;
    letter-spacing: -0.025em;
    margin-bottom: rem(36);
  }
}
.product_share{
  margin-left:rem(40);
  margin-top: rem(30);
  h5{
    font-size: rem(16);
    font-weight: 700;
    color: #ffa302;
    letter-spacing: -0.025em;
    margin-bottom: 0;
  }
  .icon{
    font-size: rem(36);
    margin-right: rem(10);
    line-height: 1;
    display: inline-block;
    transition: $transition;
    &:hover{
      opacity: 0.7;
    }
  }
}
.product_image{
  position: relative;
  margin-bottom: rem(50);
  .icon{
    font-size: rem(60);
    color: $yellow;
    position: absolute;
    bottom:0;
    left: 0;
    transition: $transition;
    &:hover{
      color: $green;
    }
  }
}
.product_data_sheets{
  h5{
    font-size: rem(20);
    line-height: rem(42);
    font-weight: 700;
    border-bottom: 1px solid #b1b1b1;
    margin-bottom: rem(30);
  }
}
.download_items{
  margin-bottom:rem(30);
  .download_item{
    background: #ffa302;
    display: inline-block;
    width: rem(130);
    height: rem(130);
    margin-right: rem(25);
    border-radius: 5px;
    text-align: center;
    padding: rem(25);
    margin-bottom: rem(30);
    p{
      color: #000;
      font-size: rem(14);
      line-height: rem(14);
      text-transform: uppercase;
    }
    .icon-download{
      color: #cc8200;
      font-size: rem(36);
      transition: $transition;
    }
    &:hover{
      .icon-download{
        color: #fff;
      }
    }
  }
}
.related_product{
  background: #f4f4f4;
  padding-top: rem(40);
  padding-bottom: rem(40);
  h3{
    font-size: rem(20);
    line-height: rem(42);
    border-bottom: 1px solid #b1b1b1;
    padding-right: rem(50);
    display: inline-block;
    margin-bottom: rem(30);
  }
  .related_item{
    font-size: rem(16);
    line-height: rem(32);
    text-align: center;
    display: block;
    color: #000;
    transition: $transition;
    &:hover{
      opacity: 0.7;
    }
  }
  .related-product-slider{
    margin: 0;
    width:100%;
  }
  .related-product-next, .related-product-prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    height: rem(40);
    width: rem(40);
    background: $green;
    border-radius: 50%;
    cursor: pointer;
    transition: $transition;
    &.swiper-button-disabled{
      opacity: 0;
    }
    .icon{
      height: rem(40);
      width: rem(40);
      color: #fff;
      font-size: rem(12);
      @include centerAbs();
      &:before{
        transition: $transition;
        @include centerAbs();
      }
    }
  }
  .related-product-next{
    right: rem(-50);
    &:hover{
      .icon{
        &:before{
          left: 60%;
        }
      }
    }
  }
  .related-product-prev{
    left: rem(-50);
    &:hover{
      .icon{
        &:before{
          left: 40%;
        }
      }
    }
  }
}
.archive-product{
  padding-top: rem(50);
  margin-bottom: rem(50);
}
.archive-product-item{
  text-align: center;
  transition: $transition;
  a{
    color: #000;
    font-size: rem(16);
    line-height: rem(32);
  }
  img{
    max-width: 100%;
  }
  &:hover{
    opacity: 0.7;
  }
}
@include media-breakpoint-down(xxl) {
  .product_content {
    margin-right: 30px;
  }
  .related_product .related-product-slider{
    margin-left: rem(50);
    margin-right: rem(50);
  }
  .related_product{
    .related-product-next{
      right: 0;
    }
    .related-product-prev{
      left: 0;
    }
  }
}


@include media-breakpoint-down(lg) {
  .product_content {
    margin-left: 0;
  }
}
@include media-breakpoint-down(md) {
  .product_header h4{
    margin-bottom:rem(25);
  }
  .product_header a{
    font-size: 12px;
    padding: 6px 6px 14px 6px;
    &.active{
      font-weight: 400;
    }
  }

}
@include media-breakpoint-down(sm) {
  .product_content {
    margin-right: 0px;
  }
  .product_header a{
    font-size: 12px;
    padding: 6px 6px 6px 6px;
    margin-bottom: 5px;
    &.active{
      font-weight: 400;
    }
  }
}
