.products_list_wrapper {
  overflow: hidden;

  .product_category_wrapper {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;

    &.even{
      &::before {
        content: '';
        width: 200%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -50%;
        z-index: -1;
        background-color: $green;
      }

      .section-heading {
        color: $light-grey;
      }
    }

    &.odd {
      &::before {
        content: '';
        width: 200%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -50%;
        z-index: -1;
        background-color: $light-grey;
      }

      .section-heading {
        color: $green;
      }
    }

    .section-heading {
      letter-spacing: -0.025em;
      padding-top: rem(30);
      margin-bottom: 0;
    }

    .product_category_images {
      padding: rem(40) 0;
      .single_image {
        margin-bottom: rem(30);
        img{
          margin-bottom: rem(10);
        }
        .product_link {
          color: $black;
          transition: $transition;
          &:hover {
            transform: scale(1.05);
          }
          .image_title {
            font-size: rem(20);
            line-height: rem(28);
            letter-spacing: -0.025em;
            text-align: center;
          }
        }
      }
    }
  }
}