.render-textures-wrapper {

  .header-wrapper {
    position: relative;
    min-height: 400px;

    .section-heading {
      letter-spacing: -0.025em;
      padding-top: rem(50);

      &::before {
        content: '';
        display: inline-block;
        height: rem(95);
        border-left: 1px solid #d8d8d8;
        margin-left: rem(-16);
      }

      .light-blue {

        span {
          color: $green;
        }
      }
    }

    .header-text {
      padding-top: rem(42);

      p {
        font-size: rem(20);
        font-weight: 300;
        line-height: rem(28);
        letter-spacing: -0.025em;
      }
    }

    .right-side {
      position: absolute;
      width: calc(100vw - (7/12)*100vw);
      top: 0;
      right: 0;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 999;
      }

      &.loaded::before {
        animation-name: imageSlide;
        animation-duration: 1s;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
      }
    }
  }

  .render-types-wrapper {
    min-height: 612px;
    padding: rem(76) 0 rem(145) 0;

    .render-type-heading {
      font-size: rem(36);
      font-weight: bold;
      line-height: rem(48);
      letter-spacing: -0.025em;
      position: relative;
      padding-bottom: rem(6);

      &::after {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        border-bottom: 1px solid #d8d8d8;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    .image {
      position: relative;
      padding-top: rem(14);
      overflow: hidden;

      img {
        width: 100%;
      }

      figcaption {
        position: absolute;
        bottom: -100%;
        width: 100%;
        margin-bottom: 0;
        padding: rem(20) 0;
        text-align: center;
        color: #fff;
        background-color: rgba($color: #000000, $alpha: 0.8);
        font-size: rem(20);
        font-weight: 300;
        line-height: rem(28);
        letter-spacing: -0.025em;
        transition: $transition;

        p.lead {
          margin-bottom: 4px;
        }
      }

      &:hover figcaption {
        bottom: 0;
      }
    }
  }

  .render-colour-chart-wrapper {
    overflow: hidden;

    .renders-header {

      .section-heading {
        letter-spacing: -0.025em;
        padding-top: rem(58);

        &::before {
          content: '';
          display: inline-block;
          height: rem(95);
          border-left: 1px solid #d8d8d8;
          margin-left: rem(-16);
        }

        .light-blue {

          span {
            color: $green;
          }
        }
      }

      .colour-chart-text {
        padding-top: rem(70);

        p {
          font-size: rem(20);
          font-weight: 300;
          line-height: rem(28);
          letter-spacing: -0.025em;
        }
      }

      .colour-chart-summary {
        position: relative;
        margin-top: rem(110);
        padding: rem(83) 0 rem(83) rem(55);
        font-size: rem(28);
        font-weight: bold;
        line-height: rem(48);
        letter-spacing: -0.025em;
        color: #fff;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 200%;
          height: 100%;
          z-index: -1;
          background-color: #307127;
        }
      }
    }

    .renders-list {
      padding: rem(60) 0 rem(15) 0;

      .wrap {
        font-size: 0;

        .row {
          .col {
            flex: 0 0 12.5%;
            max-width: 12.5%;
          }
        }

        h2 {
          font-size: rem(36);
          font-weight: bold;
          line-height: rem(48);
          letter-spacing: -0.025em;
          margin-bottom: 0;
          padding-bottom: rem(52);
        }

        figure {
          display: inline-block;
          position: relative;
          text-align: center;

          figcaption {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 100%;
            font-weight: normal;
            font-style: normal;
            font-size: rem(20);
            line-height: rem(28);
            letter-spacing: -0.050em;
            background-color: rgba($color: #ffffff, $alpha: 0.5);
            color: #252525;
          }

          span.catalog-number {
            position: absolute;
            bottom: 0;
            right: 0;
            padding-right: rem(10);
            font-weight: bold;
            font-style: normal;
            font-size: rem(20);
            line-height: rem(28);
            letter-spacing: -0.025em;
            color: #252525;
          }
        }
      }
    }

    .differences-caution {
      padding-bottom: rem(90);

      &-image {
        display: inline-block;
      }

      &-text {
        display: inline-block;
        max-width: 775px;
        font-size: rem(15);
        font-weight: 300;
        line-height: rem(18);
        letter-spacing: -0.005em;
        color: #9f9f9f;
      }
    }
  }

  .render-order-wrapper {
    position: relative;
    min-height: 462px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .white-box {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: rem(58) rem(50);
      background-color: rgba($color: #fff, $alpha: 0.88);
      box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.21);

      .order-heading {
        font-size: rem(36);
        font-weight: bold;
        line-height: rem(48);
        letter-spacing: -0.025em;
        padding-bottom: rem(18);
      }

      .order-text {
        font-size: rem(20);
        font-weight: 300;
        line-height: rem(28);
        letter-spacing: -0.025em;
        padding-bottom: rem(22);
      }
    }
  }
}

@include media-breakpoint-down(xl) {
  .render-textures-wrapper {
    .render-types-wrapper {
      min-height: 0;
      padding: rem(60) 0 rem(60) 0;

      .render-type-heading {
        font-size: rem(28);
      }

      .image {
        figcaption {
          font-size: rem(16);
        }
      }
    }

    .render-colour-chart-wrapper {
      .renders-header {
        .colour-chart-summary {
          font-size: rem(20);
        }
      }

      .differences-caution {
        padding-bottom: rem(60);
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .render-textures-wrapper {

    .header-wrapper .section-heading,
    .render-colour-chart-wrapper .renders-header .section-heading {
      &::before {
        display: none;
      }
    }

    .header-wrapper {
      min-height: 0;
    }

    .render-types-wrapper {
      .render-type-heading {
        font-size: rem(20);
      }
    }

    .render-colour-chart-wrapper {
      .renders-list {
        .wrap {
          .row {
            .col {
              flex: 0 0 20%;
              max-width: 20%;
            }
          }
        }
      }
    }

    .render-order-wrapper {
      .white-box {
        width: 80%;
      }
    }
  }
}


@include media-breakpoint-down(sm) {
  .render-textures-wrapper {
    .header-wrapper {
      .header-text p {
        margin-bottom: 0;
      }
    }

    .render-colour-chart-wrapper {
      .renders-header {
        .colour-chart-summary {
          margin-top: 0;
        }
      }

      .renders-list {
        .wrap {
          .row {
            .col {
              flex: 0 0 33.33333%;
              max-width: 33.33333%;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .render-textures-wrapper {
    .render-types-wrapper {
      .render-type-heading {
        font-size: 14px;
      }
    }

    .render-colour-chart-wrapper {
      .renders-list {
        .wrap {
          .row {
            .col {
              flex: 0 0 50%;
              max-width: 50%;
            }
          }
        }
      }

      .renders-header {
        .section-heading {
          padding-top: 30px;
        }
        .colour-chart-text {
          padding-top: 30px;
        }
      }
    }
  }
}
