.system_build_ups_wrapper {
  .heading_wrapper {
    padding-top: rem(80);

    .section-heading {
      letter-spacing: -0.025em;
    }
  }

  .text_wrapper {
    padding-top: rem(20);

    p {
      font-weight: 300;
      font-size: rem(20);
      line-height: rem(28);
      letter-spacing: -0.025em;
    }
  }

  .systems_wrapper {
    padding-bottom: rem(100);

    .image_wrapper {
      display: inline-block;
      position: relative;
      transition: $transition;
      padding: rem(25);
      .image_caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75%;
        padding: rem(12) rem(24);
        font-size: rem(20);
        font-family: $font-family-secondary;
        line-height: rem(28);
        letter-spacing: -0.025em;
        color: #fff;
        background-color: #1f491a;
      }

      .system_link {
        opacity: 0;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-65%, -50%);
        transition: $transition;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.23);
        .system_link {
          opacity: 1;
        }
      }
    }
  }
}