.text_site_wrapper {
  .header-wrapper {
    padding: rem(40) 0 rem(170) 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    .right-side-background {
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left;

      &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 999;
      }

      &.loaded::before {
        animation-name: imageSlide;
        animation-duration: 1s;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
      }
    }

    .section-heading {
      letter-spacing: -0.025em;
      padding-bottom: rem(110);

      span.white {
        span {
          color: $resources-heading-green;
        }
      }
    }
  }

  .content-wrapper {
    padding-bottom: rem(40);

    .row {
      padding-top: rem(40);

      .resources-section-text {
        p:last-child {
          margin-bottom: 0;
        }

        &.extra-content {
          p {
            a {
              display: inline-block;
              padding: rem(10) rem(20);
              margin-right: rem(20);
              font-size: rem(20);
              text-transform: uppercase;
              color: $resources-heading-green;
              border-bottom: 1px solid $resources-heading-green;
              transition: $transition;

              &:last-child {
                margin-right: 0;
              }

              &:hover {
                background-color: $resources-heading-green;
                color: #fff;
                border-bottom: 1px solid $orange;
              }
            }
          }
        }
      }
    }
  }
}