.thermal_efficiencies_wrapper {
  .header-wrapper {
    padding: rem(40) 0 rem(170) 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    .right-side-background {
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left;

      &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 999;
      }

      &.loaded::before {
        animation-name: imageSlide;
        animation-duration: 1s;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
      }
    }

    .section-heading {
      letter-spacing: -0.025em;
      padding-bottom: rem(110);

      span.white {
        span {
          color: $resources-heading-green;
        }
      }
    }
  }

  .content-wrapper {
    .thickness_of_insulation_wrapper, .thermal_conductivity_wrapper {
      .thickness_of_insulation_table, .thermal_conductivity_table {
        display: table;
        td, th {
          border: 1px solid $medium-grey;
          padding: 0 rem(10);
          font-size: 14px;
          font-weight: normal;
          line-height: 20px;
          vertical-align: middle;
        }
      }
    }
    
    .thickness_of_insulation_wrapper {
      .thickness_of_insulation_heading {
        padding-top: rem(60);
      }

      .thickness_of_insulation_text {
        padding-top: rem(46);
        padding-bottom: rem(25);
      }

      .thickness_of_insulation_description {
        padding: 0 rem(38) 0 rem(50);
      }

      .thickness_of_insulation_table {
        text-align: center;
      }
    }
     
    .thermal_conductivity_wrapper {
      padding-top: rem(64);
      padding-bottom: rem(60);

      .thermal_conductivity_heading {
        margin-bottom: rem(44);
      }

      .thermal_conductivity_table {
        text-align: left;

        td, th {
          padding: rem(10);
        }
      }
    }
  }
}

@media all and (max-width: 1550px) {
  .thermal_efficiencies_wrapper {
    .header-wrapper {
      padding-left: rem(25);
    }
  }
}

@include media-breakpoint-down(xl) {
  .thermal_efficiencies_wrapper {
    .header-wrapper {
      padding-bottom: rem(80);
      .section-heading {
        margin-bottom: 0;
        padding-bottom: rem(80);
      }
    }

    .content-wrapper {
      .thickness_of_insulation_wrapper {
        .thickness_of_insulation_description {
          padding-left: rem(20);
          padding-right: 0;
        }
      }

      .thermal_conductivity_wrapper {
        .thermal_conductivity_description {
          padding-right: rem(20);
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .thermal_efficiencies_wrapper {
    .content-wrapper {
      .thickness_of_insulation_wrapper, .thermal_conductivity_wrapper {
        .thickness_of_insulation_table, .thermal_conductivity_table {
          td, th {
            padding: 0 rem(6);
          }    
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .thermal_efficiencies_wrapper {
    .header-wrapper {
      padding-bottom: rem(40);
      .section-heading {
        margin-bottom: 0;
        padding-bottom: rem(40);
      }
    }

    .content-wrapper {
      .thickness_of_insulation_wrapper {
        .thickness_of_insulation_description {
          padding-left: 0;
        }
      }

      .thermal_conductivity_wrapper {
        .thermal_conductivity_description {
          padding-right: 0;
        }
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .thermal_efficiencies_wrapper {
    .content-wrapper {
      .thickness_of_insulation_wrapper, .thermal_conductivity_wrapper {
        .thickness_of_insulation_table, .thermal_conductivity_table {
          td, th {
            padding: 0 rem(5);
            font-size: 12px;
            line-height: 18px;
          }    
        }
      }
    }
  }
}

