.training-courses-wrapper {

  .header-wrapper {
    min-height: 505px;
    background-image: url(/wp-content/themes/understrap-master/assets/img/env-top-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    .section-video {
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 999;
      }

      &.loaded::before {
        animation-name: imageSlide;
        animation-duration: 1s;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
      }

      video {
        object-fit: fill;
        width: 100%;
        height: 100%;
      }
    }

    .extra-wrapper {
      padding-bottom: rem(40);

      .section-heading {
        padding-top: rem(42);

        .white>span {
          color: $dark-green;
        }
      }

      .resources-header-text {
        padding-top: rem(28);

        p {
          margin-bottom: 0;
        }
      }
    }
  }

  .why-ewipro-wrapper {
    background-color: #f9f9f9;
    padding-top: rem(120);
    padding-bottom: rem(150);

    .section-heading {
      letter-spacing: -0.025em;
      line-height: rem(56);
      margin-top: rem(-24);

      &::before {
        content: '';
        display: inline-block;
        height: 100px;
        border-right: 1px solid #d8d8d8;
        margin-left: rem(-14);
      }
    }

    .resources-content-text {

      p {
        margin-bottom: 0;
      }
    }
  }

  .course-wrapper {
    position: relative;
    margin-bottom: 25px;

    &:last-of-type {
      margin-bottom: rem(120);
    }

    [class*='col-'] {
      padding: rem(60) 0 rem(95) 0;
    }

    .right-side:not(.last) {

      &::after {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        border-bottom: 1px solid #d8d8d8;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    .left-side-bg {
      width: 50%;
      height: 100%;
      position: absolute;
      top: -20px;
      left: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 100;
    }

    .left-side {
      padding-top: rem(120);

      .course-label {
        padding: rem(14) rem(26);
        text-transform: uppercase;
        background-color: $yellow;
        display: inline-block;
        z-index: 999;
        position: relative;
      }

      .course-title {
        padding-top: rem(22);
        line-height: rem(56);
        letter-spacing: -0.025em;
        z-index: 999;
        position: relative;
      }
    }

    .course-right-text-1,
    .course-right-text-2,
    .course-right-list li {
      font-size: 16px;
      font-weight: 300;
      line-height: 28px;
      color: $darkest-green;
    }

    .course-right-subheading {
      font-size: 16px;
      font-weight: bold;
      letter-spacing: -0.025em;
      color: $darkest-green;
      padding-top: rem(17);
    }

    .course-right-text-2 {
      padding-top: rem(58);
      margin-bottom: 0;
    }

    .course-right-list {

      padding-top: rem(28);

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {

          &::before {
            content: "■";
            color: $yellow;
            padding-right: rem(25);
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .training-courses-wrapper .why-ewipro-wrapper {
    padding-top: rem(80);
    padding-bottom: rem(100);

    h3 {
      margin-bottom: 30px;
    }
  }
}

@include media-breakpoint-down(md) {
  .training-courses-wrapper .header-wrapper {
    min-height: 1px;
  }

  .training-courses-wrapper .why-ewipro-wrapper .section-heading::before {
    display: none;
  }

  .training-courses-wrapper .why-ewipro-wrapper {
    padding-top: rem(50);
    padding-bottom: rem(50);

    h3 {
      margin-bottom: 20px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .training-courses-wrapper .course-wrapper {
    &:last-of-type {
      margin-bottom: 0;
    }

    .left-side-bg {
      width: 100%;
      top: 0;
    }

    .left-side {
      padding: rem(40) 0;
    }

    .right-side {
      position: relative;
      z-index: 999;
      padding: rem(40);
      margin-bottom: rem(40);
      border-radius: 8px;
      background-color: rgba(255, 255, 255, 0.85);

      &:not(.last) {
        &::after {
          border-bottom: none;
        }
      }
    }
  }
}