#wrapper_walls_build_up {
  .section-header {
    background-color: #ededed;
    padding: rem(65) 0;

    .section-heading {
      letter-spacing: -0.025em;
      margin-bottom: 0;
    }

    .section-header-text {
      font-size: rem(16);
      font-weight: 300;
      color: #707070;
      line-height: rem(28);
      letter-spacing: -0.025em;

      p {
        margin-bottom: 0;
      }
    }
  }

  .section-content {
    padding-top: rem(130);

    .systems-list {
      border-right: 6px solid $light-blue;

      h3 {
        font-size: rem(20);
        font-weight: bold;
        letter-spacing: -0.025em;
        color: $green;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 0;
        padding-bottom: 16px;

        &::after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          height: 8px;
          width: 90%;
          border-bottom: 2px solid rgba($color: #b1b1b1, $alpha: 0.4);
        }
      }

      ul {
        list-style: none;
        padding: 0;
      }

      .main-list {
        font-weight: 300;
        line-height: rem(42);
        letter-spacing: -0.025em;

        li {
          font-size: rem(20);

          &.is-active {
            font-weight: normal;
          }

          &:hover {
            cursor: pointer;
          }

          ul {
            font-weight: 300;

            li {
              font-size: rem(16);

              a {
                display: block;
                position: relative;
                color: #000;
                padding-left: rem(40);
                transition: $transition;

                &:hover {
                  color: #fff;
                  background-color: $light-blue;
                }

                &.active {
                  color: #fff;

                  &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    z-index: -1;
                    background-color: $light-blue;
                    transition: $transition;
                  }
                }
              }
            }
          }
        }
      }
    }

    .wall-name {
      position: absolute;
      top: 0;
      right: 0;
      font-size: rem(20);
      letter-spacing: -0.025em;
      text-transform: uppercase;

      .term {
        font-weight: bold;
      }
    }

    .image-wrapper {
      display: inline-block;
      position: relative;

      .image-point {
        position: absolute;
        color: #000;

        .icon-box {
          position: relative;
          opacity: 1;
          z-index: 1;
          background-color: #ffc600;
          font-size: 8px;
          display: block;
          padding: 4px 6px;
          border-radius: 2px;

          .icon {
            display: inline-block;
            transition: $transition;
          }
        }

        &:hover {
          cursor: pointer;

          .icon-box {
            z-index: 3;
            .icon {
              transform: rotate(45deg);
            }
          }

          .image-point-content {
            z-index: 2;
            visibility: visible;
            opacity: 1;
          }
        }

        &.active {
          .image-point-content {
            visibility: visible;
            opacity: 1;
            z-index: 2;
          }
          .icon-box {
            z-index: 3;
            .icon {
              transform: rotate(45deg);
            }
          }
        }

        &.hidden {
          .icon-box {
            opacity: 0;
          }
        }

        .image-point-content {
          position: absolute;
          visibility: hidden;
          opacity: 0;
          width: rem(330);
          padding: rem(38) rem(30) rem(22) rem(38);
          background-color: rgba($color: #fff, $alpha: 0.9);
          box-shadow: 0px 20px 29px 0px rgba(0, 0, 0, 0.18);
          font-weight: 300;
          transition: $transition;

          &::before {
            content: '';
            display: inline-block;
            position: absolute;
            top: 0;
            left: -4px;
            height: 40%;
          }

          &.left {
            right: 10px;

            &::before {
              left: -4px;
              border-left: 4px solid $green;
            }
          }

          &.right {
            left: 10px;

            &::before {
              right: -4px;
              border-right: 4px solid $green;
            }
          }

          &.bottom {
            top: 10px;
          }

          &.top {
            bottom: 10px;
          }

          .content-heading {
            font-size: rem(16);
            line-height: rem(42);
            letter-spacing: -0.025em;
          }

          .content-text {
            font-size: rem(12);
            line-height: rem(16);
            margin-bottom: 0;
            padding-bottom: rem(35);
            color: $darkest-green;
          }

          .learn-more {
            display: block;
            position: relative;
            color: #fff;
            max-width: 120px;
            text-transform: uppercase;
            font-size: 10px;
            line-height: 100%;
            padding: rem(8) rem(8) rem(8) rem(14);
            border-radius: rem(7);
            background-color: $yellow;
            transition: $transition;

            .icon {
              color: #787878;
              font-size: 8px;
              position: absolute;
              right: rem(8);
              top: 50%;
              transform: translateY(-50%);
            }

            &:hover {
              background-color: $orange;

              .icon {
                color: #000;
              }
            }
          }
        }
      }
    }

    .tooltips-list {
      list-style: none;
      text-align: right;
      padding-top: rem(85);
      padding-left: 0;

      li {
        font-weight: 300;
        line-height: rem(42);
        transition: $transition;

        &:hover {
          cursor: pointer;
          color: #fff;
          background-color: $light-blue;
          padding-right: rem(20);
        }

        &.active {
          color: #fff;
          background-color: $light-blue;
          padding-right: rem(20);
        }
      }
    }

    .text-content {
      padding-top: rem(70);

      h3 {
        font-size: rem(20);
        font-weight: bold;
        letter-spacing: -0.025em;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 0;
        padding-bottom: rem(12);

        &::after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 30%;
          height: 1px;
          border-bottom: 1px solid rgba(#313131, 0.40);
        }
      }

      p {
        padding: rem(44) 0;
        font-weight: 300;
        line-height: rem(28);
        color: $darkest-green;
        margin-bottom: 0;

        a {
          color: $darkest-green;
        }
      }
    }
  }
}