@import "assets/bootstrap4";// <--------- Loads Bootstrap3 or Bootstrap4. Change from /bootstrap3 to /bootstrap4 Watch out! just for testing in the moment!
@import "abstracts/theme_variables";  // <--------- Add your variables into this file. Also add variables to overwrite Bootstrap or UnderStrap variables here
@import "abstracts/_functions";
@import "abstracts/_mixins";


@import "understrap/understrap";// <-------- Loads the UnderStrap defaults. Just a few classes to incorporate BS in WP

//Optional files - If you dont use the corresponding scripts/fonts comment em out
@import "assets/font-awesome"; // <------- Font Awesome Icon font
@import "assets/underscores"; // <------- Underscores media styles

// Any additional imported files //
@import "theme/theme";  // <--------- That's where you can add your own design. Thats your part!
@import "theme/contact-form7"; // Contact Form 7 - Bootstrap 4 support
@import "assets/animate.scss";
@import "assets/swiper.scss";
@import "assets/tooltipster.scss";
@import "assets/fancybox";
@import "assets/nanoscroller";

// Pages
@import "pages/home";
@import "pages/about";
@import "pages/product";
@import "pages/products_list";
@import "pages/downloads";
@import "pages/environmental_policy";
@import "pages/find_installer";
@import "pages/quality_policy";
@import "pages/training_courses";
@import "pages/render_textures";
@import "pages/contact";
@import "pages/walls_build_up";
@import "pages/system_build_ups";
@import "pages/thermal_efficiencies";
@import "pages/text_sites";
@import "pages/blog";
@import "pages/404";

// Components
@import "components/buttons";
@import "components/headings";
@import "components/texts";
@import "components/animations";
@import "components/media-queries";
@import "components/_mmenu";



//@import "components/mpmenu.scss";

// Layout
@import "layout/navbar";

// Base
@import "base/typography";

body, html{
  max-width: 1920px;
  margin: 0 auto;
}


.os-animation{
  opacity: 0;
}
.os-animation.animated{
  opacity: 1;
}

body{
  .header-support {
    margin-bottom: 109px;
  }

  .fixed-top{
    top: 41px;
    transition: all 0.4s ease;
    &.topNull{
      top: 0 !important;
    }
  }

  &.logged-in.h-32 {
    .fixed-top{
      top: 74px;
      &.topNull{
        top: 32px !important;
      }
    }
  }

  &.logged-in.h-46 {
      .fixed-top{
        top: 88px;
        &.topNull{
          top: 46px !important;
        }
      }
    }
}

a{
  &:hover{
    text-decoration: none;
  }
}

.home_aside{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 1000;
  background: #fff;
  ul{
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  a.nav-link{
    display: block;
    font-size: rem(16);
    color: #989898;
    padding: rem(6) rem(22) rem(6) rem(30);
    position: relative;
    &:before{
      content: '';
      width: 5px;
      height: 5px;
      opacity: 0;
      border-radius: 50%;
      background: $green;
      position: absolute;
      left: rem(15);
      top: 50%;
      transform: translateY(-50%);
      transition: $transition;
    }
    &.active{
      &:before{
        opacity: 1;
      }
    }
  }
}

@media all and (max-width: 1300px) {
  body {
    .header-support {
      margin-bottom: 90px;
    }
  }
}

@include media-breakpoint-down(lg) {
  body {
    .header-support {
      margin-bottom: 86px;
    }
  }
}

@include media-breakpoint-down(md) {
  body {
    .header-support {
      margin-bottom: 74px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .container {
    padding: 0 25px;
  }
}
